<div class="container">
    <%# Links %>
    <%= render "questions/links" %>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <%# Question Type Heading %>
                <th scope="col">Type</th>

                <%# Shared Headings %>
                <%= render "questions/tables/shared_table_headings" %>
            </tr>
        </thead>

        <tbody>
            <% @questions.each do |question| %>
                <tr>
                    <%# Question Type %>
                    <td><%= "#{question.kind_before_type_cast.to_i + 1}" %></td>

                    <%# Shared Bodies %>
                    <%= render partial: "questions/tables/shared_table_bodies", object: question %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
