<%# Question ID %>
<td><%= link_to shared_table_bodies.id, question_path(shared_table_bodies) %></td>

<%# ELO %>
<td><%= shared_table_bodies.rating %></td>

<%# Level %>
<td><%= shared_table_bodies.level&.name || "N/A" %></td>

<%# Subtype %>
<td><%= shared_table_bodies.subtype.present? ? shared_table_bodies.subtype.to_s.humanize : "None" %></td>