<%# Question ID %>
<td><%= link_to shared_table_bodies.id, question_path(shared_table_bodies) %></td>

<%# Amount of attempts %>
<td><%= shared_table_bodies.attempted %></td>

<%# Amount of correct answers %>
<td><%= shared_table_bodies.correct %></td>

<%# Amount of comments %>
<td><%= pluralize(shared_table_bodies.comments.size, "Comment") %></td>