<%= form_with(model: [writing, comment]) do |f| %>
  <div class="form-control">
    <%= hidden_field_tag :commentable_type, commentable_type %>
    <%= f.rich_text_area :body %>
    <%= f.submit submit_label, class: "btn btn-primary mt-1"  %>
  </div>
<% end %>